<footer id="footer">
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-lg text-xs-center text-lg-left">
        © 2016 - 2017
      </div>
      <div class="col-lg text-xs-center text-lg-right">

        <a href="{{ site.url }}/docs/">Docs</a>
        ·
        <a href="{{ site.url }}/">Home</a>
        ·
        <a href="{{ site.url }}/start/">Start</a>
        ·
        <a href="https://github.com/dashtinejad/regate">GitHub</a>
        ·
        <a href="https://github.com/dashtinejad/regate/releases">v1.0.0</a>
      </div>
    </div>
  </div>
</footer>