<nav class="navbar navbar-fixed-top navbar-dark" id="navbar">
  <a class="navbar-brand" href="{{ site.url }}/">
    <img src="{{ site.url }}/images/regate-logo-transparent.png" alt="Regate" width="32" style="position: relative; top: -3px;" />
    &nbsp;
    Regate
  </a>
  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item" data-path="home">
      <a class="nav-link" href="{{ site.url }}/">Home</a>
    </li>
    <li class="nav-item" data-path="start">
      <a class="nav-link" href="{{ site.url }}/start/">Start</a>
    </li>
    <li class="nav-item" data-path="docs">
      <a class="nav-link" href="{{ site.url }}/docs/">Docs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/dashtinejad/regate">GitHub</a>
    </li>
    <li class="nav-item">
      <a href="https://github.com/dashtinejad/regate/releases" class="btn btn-outline-regate">v1.0.0</a>
    </li>
  </ul>
</nav>