<nav class="navbar navbar-fixed-top navbar-dark" id="navbar">
  <a class="navbar-brand" href="{{ base }}/">Regate</a>
  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item">
      <a class="nav-link" href="{{ site.url }}/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.url }}/download/">Download</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.url }}/docs/">Docs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/dashtinejad/regate" target="_blank">GitHub</a>
    </li>
  </ul>
</nav>