.regate-example-container {
  $background: #f7f7f9;

  margin: 25px 0;

  .regate-example {
    border: .2rem solid $background;
    padding: 15px 20px;
  }

  .regate-code {
    background: $background;

    pre {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      
      code {
        padding: 15px 20px;
        background: transparent;
      }
    }
  }

  .regate-terminal {
    background: darken($background, 7%);
    margin-top: -1rem;
    border-radius: 0;
    padding: 15px 20px;

    pre {
      margin: 0;
    }

    [data-type="string"] { color: maroon; }
    [data-type="boolean"] { color: purple; }
    [data-type="number"] { color: blue; }

    [data-type="title"] { color: gray; }
    [data-type="value"] { color: black; }

    code {
      display: inline-block;
    }

    code + code {
      margin-left: 20px;
    }

    &:before {
      opacity: 0.3;
      font-family: monospace;
    }

    &:empty {
      &:before {
        content: 'OUTPUT';
      }
    }
  }
} 