---
layout: default
---

<div id="hero">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-1 text-xs-center">Regate</h1>
      <p class="display-4 lead text-xs-center">React components for building form inputs</p>
      <p class="text-xs-center">
        <a class="btn btn-success btn-lg" href="{{ site.url }}/download/" role="button">Download</a>
        <a class="btn btn-success btn-lg" href="{{ site.url }}/docs/" role="button">Documentation</a>
      </p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md">
      <h3 class="text-xs-center">Variety</h3>
    </div>
    <div class="col-md">
      <h3 class="text-xs-center">Friendly</h3>
    </div>
    <div class="col-md">
      <h3 class="text-xs-center">Simple</h3>
    </div>
  </div>
</div>